{% extends "project/base.html" %}

{% block content %}

    <body>

        <!-- Centered white Tweeter Text in center of front page -->
        <h1 style="color: white; font-size: 80px;"><center>Tweeter</center></h1>
        <div>
            <center>
            <table>
                <tr>

                    <!-- Login and Register buttons -->
                    <td>
                        <a href="{% url 'login' %}">
                            <button type="button" class="btn btn-light btn-lg" >Login</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'register' %}">
                            <button type="button" class="btn btn-light btn-lg">Register</button>

                        </a>
                    </td>
                </tr>
            </table>
            </center>
        </div>
    </body>




{% endblock content %}

