{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <center>
    <h1>Home Page</h1>
    <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-light btn-lg">Logout</button>
    </a>
    <a href="{% url 'post-create' %}">
        <button type="button" class="btn btn-light btn-lg" > Post </button>
    </a>
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"" }}</small>
                </div>
                <a class="article-content"  href="#" style="color: black">{{ post.content}}</a>
                <p class="article-like">Likes: {{ post.likes.count }}</p>
                <form action="{% url 'like-post' %}" method = "POST">
                    {% csrf_token %}
                    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
                </form>
            </div>
        </article>
    {% endfor %}
    </center>

{% endblock content %}
