{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 style="color: white; font-size: 60px;">Create Post</h1>

    <div class="content-section">

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tweet Post</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-light" type="submit"> Post </button>
            </div>

        </form>
    </div>

{% endblock content %}
