{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Displays the user's profile -->
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading"> {{ object.user.username }}</h2>
                <p class="text-secondary"> {{ object.user.email }}</p>
            </div>
        </div>
    </div>

    <!-- Displays the amount of followers the user has -->
    <!-- Displays a Follow and Unfollow button -->
    <form action="{% url 'follow-user' object.pk %}" method = "POST">
            {% csrf_token %}
            {% if user in object.followers.all %}
            <body><button type="submit", name="profile_id", value="{{ object.id }}", class="btn btn-danger btn-sm">Unfollow</button>
            Followers: {{ object.followers.count }}</body>
            {% else %}
            <body><button type="submit", name="profile_id", value="{{ object.id }}", class="btn btn-primary btn-sm">Follow</button>
            Followers: {{ object.followers.count }}</body>
            {% endif %}
    </form>
{% endblock content %}