{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block navigation %}


        <!-- Home Page text & Post and Logout Buttons -->
        <header>
            <nav class ="navbar bg-dark">
                <a href="{% url 'home-page' %}">
                    <p style="color: white; font-size: 35px;">Tweeter</p>
                </a>
                <form class="d-flex" method=POST action="{% url 'search-result' %}">
                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search...." aria-label="Search" name="search"> &nbsp
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div style="float: right">

                    <a href="{% url 'post-create' %}">
                        <button type="button" class="btn btn-grey btn-lg" > Post </button> &nbsp
                    </a>

                    <a href="{% url 'profile-page' user.profile.pk %}">
                        <button type="button" class="btn btn-grey btn-lg" > Profile </button> &nbsp
                    </a>

                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-grey btn-lg">Logout</button>
                    </a>
                </div>
            </nav>
        </header>
{% endblock navigation %}


{% block content %}
    <br/>
    <!-- Displays the user's profile -->
    <div class="content-section" style="width: 700px; margin-right: auto; margin-left: auto">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading"> {{ object.user.username }}</h2>
                <p class="text-secondary"> {{ object.user.email }}</p>
            </div>
        </div>
    </div>

    <!-- Displays the amount of followers the user has -->
    <!-- Displays a Follow and Unfollow button -->
    <form action="{% url 'follow-user' object.pk %}" method = "POST">
            {% csrf_token %}
            {% if user in object.followers.all %}
            <body><button type="submit", name="profile_id", value="{{ object.id }}", class="btn btn-danger btn-sm">Unfollow</button>
            Followers: {{ object.followers.count }}</body>
            {% else %}
            <body><button type="submit", name="profile_id", value="{{ object.id }}", class="btn btn-primary btn-sm">Follow</button>
            Followers: {{ object.followers.count }}</body>
            {% endif %}
    </form>

    <br/>
    <p style="color: white; font-size: 35px;">Posts</p>


{% for post in posts %}
    {% if object.user == post.author %}
        <!-- Display posts, posts' author, and the posts' date on the home page -->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a style="font-size: 20px;" class="mr-2" href="{% url 'profile-page' post.author.profile.id %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"" }}</small>
                </div>
                <a style="font-size: 30px; color: black" class="article-content" href="{% url 'post-page' post.id %}" style="color: black">{{ post.content }}</a>
                <br></br>
                <form action="{% url 'like-profile-post-page' object.pk %}" method = "POST">
                    {% csrf_token %}

                    <!-- Displays the amount of likes on the post -->
                    <!-- Displays a like button if user hasn't liked the post yet -->
                    {% if user in post.likes.all %}
                    <body><button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
                    Likes: {{ post.likes.count }}</body>

                    <!-- Displays an unlike button if user liked the post -->
                    {% else %}
                    <body><button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
                    Likes: {{ post.likes.count }}</body>
                    {% endif %}
                </form>
            </div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock content %}