{% extends "project/base.html" %}
{% load crispy_forms_tags %}

{% block navigation %}


        <!-- Home Page text & Post and Logout Buttons -->
        <header>
            <nav class ="navbar bg-dark">
                <a href="{% url 'home-page' %}">
                    <p style="color: #1DA1F2; font-size: 35px;">Home Page</p>
                </a>
                <form class="d-flex" method=POST action="{% url 'search-result' %}">
                    {% csrf_token %}

                    <input class="form-control me-2" type="search" placeholder="Search...." aria-label="Search" name="search"> &nbsp
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <div style="float: right">
                    <a href="{% url 'post-create' %}">
                        <button type="button" class="btn btn-grey btn-lg" > Post </button> &nbsp
                    </a>

                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-grey btn-lg">Logout</button>
                    </a>
                </div>
            </nav>
        </header>
{% endblock navigation %}

{% block content %}
    <h1 style="color: white; font-size: 60px;">Create Post</h1>

    <div class="content-section">

        <!-- Displays a form that allows users to create posts -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tweet Post</legend>
                {{ form|crispy }}
            </fieldset>

            <!-- Displays a button that allows users to post the post on the home page -->
            <div class="form-group">
                <button class="btn btn-light" type="submit"> Post </button>
            </div>

        </form>
    </div>

{% endblock content %}
